<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Note</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-light">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/lab-4/add-note">Add Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/lab-4/note-list">Card Views</a>
        </li>
      </ul>
    
    </nav>
    <div class="container-xxl">
        <h1 style="text-align: center">Note</h1>
          <table class="table table-striped table-bordered">
              <thead>
                  <tr class="table-primary">
                      <th scope="col" class="text-light bg-primary" style="width: 15%; text-align: center">To</th>
                      <th scope="col" class="text-light bg-primary" style="width: 15%; text-align: center">Form</th>
                      <th scope="col" class="text-light bg-primary" style="width: 15%; text-align: center">Title</th>
                      <th scope="col" class="text-light bg-primary" style="word-wrap: break-word; text-align: center;">Message</th>
                  </tr>
              </thead>
              <tbody>
                  {% if notes %} 
                      {% for note in notes %}
                          <tr>
                              <td style="text-align: center">{{ note.To }}</td>
                              <td style="text-align: center">{{ note.From }}</td>
                              <td style="text-align: center">{{ note.Title }}</td>
                              <td style="word-wrap: break-word; text-align: center;">{{ note.Message }}</td>
                          </tr>
                      {% endfor %}
                  {% endif %}
              </tbody>
          </table>
      </div>
  </body>
</html>
