<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    <form action="" method="POST">
      {%csrf_token%}
      <p>To: {{form.To}}</p>
      <p>From: {{form.From}}</p>
      <p>Title: {{form.Title}}</p>
      <p>Message: {{form.Message}}</p>
      <input type="submit" value="Submit">
    </form>      
  </body>
</html>