<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Note</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-light">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/lab-4/add-note">Add Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/lab-4">List Notes</a>
          </li>
        </ul>
      
      </nav>
    <div class="container">
        <div class="card-columns">
        {% if notes %}
        {% for note in notes %}
            <div class="card bg-light">
              <div class="card-body text-center" >
                <tr>
                    <p>To: {{ note.To }}</p>
                    <p>From: {{ note.From }}</p>
                    <p>Title: {{ note.Title }}</p>
                    <p>Message:</p>
                    <p style="word-wrap: break-word; text-align: center;">{{ note.Message }}</p>
                </tr>
              </div>
            </div>
        {% endfor %}
        {% endif %}
        </div>
	</div>
  </body>
</html>
