<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <form action="" method="POST">
      {%csrf_token%}
      Nama: {{form.name}}
      NPM: {{form.npm}}
      DOB: {{form.tanggal_lahir}}
      <input type="submit" value="Submit">
    </form>      
  </body>
</html>